<div class="generic-container">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="formcontainer">
                <div class="row">
                    <div>
                        <div class="fb-login-button" data-max-rows="1" data-size="large"
                             data-button-type="continue_with" data-show-faces="true" data-auto-logout-link="false"
                             data-use-continue-as="false"></div>

                    </div>
                    <div class="form-actions floatRight">
                        <button type="button" ng-click="fbLogin()" class="btn btn-warning btn-sm"
                                ng-disabled="myForm.$pristine">login facebook
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>